/* Header.css */

.header-section {
  padding: 10px 0;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #00050c;
font-family: 'Playfair Display', serif;
  letter-spacing: -0.8px;
text-decoration: none;
}

.nav-item{
  margin: 0 12px;
  font-weight: 500;
  transition: 0.3s;
font-family: 'Inter', sans-serif;
  letter-spacing: 1.2px;
  line-height: 16px;
}
.nav-link:hover {
  color:#755A24 !important;
}

.quote-btn {
  background:#002410;
  color: white;
  border: none;
  padding: 10px 22px;
  font-weight: 600;
  transition: 0.3s;
  border-radius: 8px;
font-family: 'Inter', sans-serif;
  letter-spacing: 1.2px;
  size: 12px;
}

.quote-btn:hover {
  background: #084298;
}

/* Responsive */

@media (max-width: 991px) {
  .menu-list {
    margin-top: 15px;
    text-align: center;
  }

  .quote-btn {
    margin-top: 15px;
    width: 100%;
  }
}